@import "tailwindcss";
/* poppins */
.poppins_font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* inter  */

.inter_font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* hind siliguri */
.hind_siliguri_font {
  font-family: "Hind Siliguri", sans-serif;
  font-style: normal;
}
/* btn */
.button {
  background: rgba(66, 42, 213, 1);
  color: white;
}
.noButton {
  background: transparent;
  color: black;
}
